---
import { changeLanguage } from 'i18next';
import Layout from '@layouts/Layout.astro';
import { FavoriteRestaurants } from '../components/FavoriteRestaurants';
import { t } from 'i18next';

changeLanguage('en');
---

<Layout title={t('navbar.myFavorites')} description={t('pages.home.description')}>
    <div class="mt-40">
        <FavoriteRestaurants client:only="react" />
    </div>
</Layout>
