---
import Layout from "../../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import Restaurants from "../../components/Restaurants.astro";

changeLanguage("es");

export const prerender = true;
---

<Layout title={t('pages.home.title')} description={t('pages.home.description')}>
	<main class="main-container">
		<div class="home-container">
			<h1 class="container__title">
				<Trans i18nKey="pages.home.discoverTitle">
					<span class="container__title--highlighted"></span>
				</Trans>
			</h1>
		</div>

		<h2 class="home-outstanding-title">{t('common.restaurants')}</h2>

		<div>
			<Restaurants />
		</div>

		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
	</main>
</Layout>

<style>
	.main-container {
		@apply mt-16 lg:m-auto p-6 max-w-[100ch] flex flex-col space-y-4;
	}

	.home-container {
		@apply bg-white p-4 rounded-lg border-solid border border-orange-300;
	}
	.container__title {
		@apply font-semibold text-lg md:text-2xl lg:text-3xl transition-all;
	}

	.container__title--highlighted {
		@apply bg-clip-text text-transparent bg-gradient-to-r from-orange-300 to-orange-500 font-bold text-xl md:text-3xl lg:text-4xl animate-pulse transition-all;
	}

	.home-outstanding-title {
		@apply text-2xl font-bold text-[--lastBlack] mb-4;
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
</style>
